<!DOCTYPE html>
<html>
  <head>
    <title>StudyProgramming</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <p class="title"><%= link_to "Study Programming", root_path, class:"logo" %></p>
    </header>
    <%= yield %>
  </body>
</html>
